<footer class="bg-azul">
    <div class="container">
        <div class="row justify-content-center white-line">
            <div class="col-6 col-md-2">
                <img class="img-fluid p-1 p-md-3" src="./assets/logos/lans.png" alt="">
            </div>
            <div class="col-6 col-md-2">
                <img class="img-fluid p-1 p-md-3" src="./assets/logos/1.png" alt="">
            </div>
            <div class="col-6 col-md-2">
                <img class="img-fluid p-1 p-md-3" src="./assets/logos/2.png" alt="">
            </div>
            <div class="col-6 col-md-2">
                <img class="img-fluid p-1 p-md-3" src="./assets/logos/3.png" alt="">
            </div>
            <div class="col-6 col-md-2">
                <img class="img-fluid p-1 p-md-3" src="./assets/logos/5.png" alt="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-7">
                <div class="row padre">
                    <img class="col-5 img-fluid p-4" src="./assets/logos/nova_blanco.png" alt="">
                    <p class="col-7 font-weight-bolder hijo text-white">TODOS LOS DERECHOS RESERVADOS MMXIX</p>
                </div>
            </div>
            <div class="col-5 col-md-2 padre mb-3">
                <a href="http://dos17.com/" target="_blank">
                    <img class="hijo" src="./assets/logos/dos_17.png" alt="">
                </a>
            </div>
            <!-- <div class="col-5 col-md-2 padre mb-3">
                <img class="hijo" src="./assets/logos/rebel_studio.png" alt="">
            </div> -->
        </div>
    </div>
</footer>