<div class="container my-5 justify-content-center">
    <h5 class="gris-nova font-weight-bolder servicios-size text-center mb-0">QUIENES SOMOS</h5>
    <p class="text-center">
      Somos una empresa orgullosamente duranguense, conformada por un equipo de profesionales comprometidos con 
      el bienestar integral de nuestros pacientes. Contamos también, con tecnología de la más alta calidad para el  
      diagnóstico clínico; ofreciendo solución a más de 350 estudios de rutina y de alta especialidad.
      <br>
      Gracias a nuestro proceso de mejora continua, capacitación y adiestramiento, nos encontramos en constante 
      evolución para servirte siempre de la mejor manera, con un elevado sentido de la amabilidad,  la 
      responsabilidad y la ética.
    </p>
    <div class="row justify-content-center">
      <a class="button button-azul col-8 col-md-3 my-2" target="_blank" href="https://www.youtube.com/watch?v=mwiPi_U1T0s">Ver video</a>
    </div>
  </div>
  
  <div class="container ">
    <h2 class="gris-nova font-italic text-center mb-0">“Las Directrices de Nuestro Pensamiento”</h2>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="font-weight-bolder">MISIÓN</h3>
        <p>
          Contribuir al cuidado de la salud, tranquilidad y bienestar de nuestros pacientes mediante la realización
          de exámenes de laboratorio confiables y de calidad basados en la ética, profesionalismo y un alto sentido
          humano.
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <h3 class="font-weight-bolder">VISIÓN</h3>
        <p>
          Ser un laboratorio de análisis clínicos reconocido por su sistema de gestión de calidad, tecnología y 
          recursos humanos en mejora continua con presencia en la región.
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <h3 class="font-weight-bolder">ALIANZAS</h3>
        <p>
          Contamos con contratos de colaboración con los mejores laboratorios de referencia del país y otras partes 
          del mundo, nos permite dar respuesta a las necesidad de estudios de baja frecuencia o alto grado de especialidad.
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <h3 class="font-weight-bolder">VALORES</h3>
        <ul>
          <li>Calidad</li>
          <li>Honestidad</li>
          <li>Ética</li>
          <li>Responsabilidad</li>
          <li>Confidencialidad</li>
          <li>Respeto</li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center my-3 ">
      <img class="col-12 col-md-3 img-fluid" src="./assets/logos/pro_vida.png" alt="">
    </div>
  </div>
  
  <div class="container my-5">
    <h2 class="gris-nova font-italic text-center mb-0">”Somos una empresa con conciencia ecológica” </h2>
    <p class="center-text">
        En Nova estamos comprometidos con el medio ambiente. 100% Iluminación Led y 40% de nuestro consumo de 
        energía mediante paneles solares. Así como reducción del uso del papel mediante el empleo de papel 
        reciclado y la entrega de resultados y procedimientos internos electrónicos.
    </p>
    <div class="row justify-content-center mt-5">
      <img class="col-12 col-md-3 img-fluid" src="./assets/logos/nova_color.png" alt="">
    </div>
  </div>